.frame {
    width: 120px;
}

.display {
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 10px;
    overflow: hidden;
}

.buttonsLine{
    display: flex;
    flex-direction: row;
}

input {
    width: 25%;
}

.wideButton{
    width :50%;
}